.body-container {
    background-color: #f5efd4;
    margin: 15px;
    justify-content: center;
    width: 850px;
}


.body-nav-row {
    display: flex;
    justify-content: center;
    color:white;
    font-weight: bold;
}