.nav-link-background-image {
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:50px;
    margin-right:50px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.nav-link-text {
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.nav-link-background-image:hover .nav-link-text {
    opacity: 1;
}
